Müşteri Giriş Bölümü (Web)/App_WebReferences/localhost/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ayrildi">
        <s:complexType />
      </s:element>
      <s:element name="ayrildiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ayrildiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="onlinedurum">
        <s:complexType />
      </s:element>
      <s:element name="onlinedurumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="onlinedurumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mesaj_yaz">
        <s:complexType />
      </s:element>
      <s:element name="mesaj_yazResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mesaj_yazResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="count_al">
        <s:complexType />
      </s:element>
      <s:element name="count_alResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="count_alResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mesajekle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mesaj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mesajekleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mesajekleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="okunduyap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MESAJID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="okunduyapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="okunduyapResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="chatdurum">
        <s:complexType />
      </s:element>
      <s:element name="chatdurumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chatdurumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="depkart">
        <s:complexType />
      </s:element>
      <s:element name="depkartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depkartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="onofdurum_yon">
        <s:complexType />
      </s:element>
      <s:element name="onofdurum_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="onofdurum_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ayrildiSoapIn">
    <wsdl:part name="parameters" element="tns:ayrildi" />
  </wsdl:message>
  <wsdl:message name="ayrildiSoapOut">
    <wsdl:part name="parameters" element="tns:ayrildiResponse" />
  </wsdl:message>
  <wsdl:message name="onlinedurumSoapIn">
    <wsdl:part name="parameters" element="tns:onlinedurum" />
  </wsdl:message>
  <wsdl:message name="onlinedurumSoapOut">
    <wsdl:part name="parameters" element="tns:onlinedurumResponse" />
  </wsdl:message>
  <wsdl:message name="mesaj_yazSoapIn">
    <wsdl:part name="parameters" element="tns:mesaj_yaz" />
  </wsdl:message>
  <wsdl:message name="mesaj_yazSoapOut">
    <wsdl:part name="parameters" element="tns:mesaj_yazResponse" />
  </wsdl:message>
  <wsdl:message name="count_alSoapIn">
    <wsdl:part name="parameters" element="tns:count_al" />
  </wsdl:message>
  <wsdl:message name="count_alSoapOut">
    <wsdl:part name="parameters" element="tns:count_alResponse" />
  </wsdl:message>
  <wsdl:message name="mesajekleSoapIn">
    <wsdl:part name="parameters" element="tns:mesajekle" />
  </wsdl:message>
  <wsdl:message name="mesajekleSoapOut">
    <wsdl:part name="parameters" element="tns:mesajekleResponse" />
  </wsdl:message>
  <wsdl:message name="okunduyapSoapIn">
    <wsdl:part name="parameters" element="tns:okunduyap" />
  </wsdl:message>
  <wsdl:message name="okunduyapSoapOut">
    <wsdl:part name="parameters" element="tns:okunduyapResponse" />
  </wsdl:message>
  <wsdl:message name="chatdurumSoapIn">
    <wsdl:part name="parameters" element="tns:chatdurum" />
  </wsdl:message>
  <wsdl:message name="chatdurumSoapOut">
    <wsdl:part name="parameters" element="tns:chatdurumResponse" />
  </wsdl:message>
  <wsdl:message name="depkartSoapIn">
    <wsdl:part name="parameters" element="tns:depkart" />
  </wsdl:message>
  <wsdl:message name="depkartSoapOut">
    <wsdl:part name="parameters" element="tns:depkartResponse" />
  </wsdl:message>
  <wsdl:message name="onofdurum_yonSoapIn">
    <wsdl:part name="parameters" element="tns:onofdurum_yon" />
  </wsdl:message>
  <wsdl:message name="onofdurum_yonSoapOut">
    <wsdl:part name="parameters" element="tns:onofdurum_yonResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="ayrildi">
      <wsdl:input message="tns:ayrildiSoapIn" />
      <wsdl:output message="tns:ayrildiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="onlinedurum">
      <wsdl:input message="tns:onlinedurumSoapIn" />
      <wsdl:output message="tns:onlinedurumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mesaj_yaz">
      <wsdl:input message="tns:mesaj_yazSoapIn" />
      <wsdl:output message="tns:mesaj_yazSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="count_al">
      <wsdl:input message="tns:count_alSoapIn" />
      <wsdl:output message="tns:count_alSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mesajekle">
      <wsdl:input message="tns:mesajekleSoapIn" />
      <wsdl:output message="tns:mesajekleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="okunduyap">
      <wsdl:input message="tns:okunduyapSoapIn" />
      <wsdl:output message="tns:okunduyapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="chatdurum">
      <wsdl:input message="tns:chatdurumSoapIn" />
      <wsdl:output message="tns:chatdurumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="depkart">
      <wsdl:input message="tns:depkartSoapIn" />
      <wsdl:output message="tns:depkartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="onofdurum_yon">
      <wsdl:input message="tns:onofdurum_yonSoapIn" />
      <wsdl:output message="tns:onofdurum_yonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ayrildi">
      <soap:operation soapAction="http://tempuri.org/ayrildi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onlinedurum">
      <soap:operation soapAction="http://tempuri.org/onlinedurum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesaj_yaz">
      <soap:operation soapAction="http://tempuri.org/mesaj_yaz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="count_al">
      <soap:operation soapAction="http://tempuri.org/count_al" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesajekle">
      <soap:operation soapAction="http://tempuri.org/mesajekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="okunduyap">
      <soap:operation soapAction="http://tempuri.org/okunduyap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chatdurum">
      <soap:operation soapAction="http://tempuri.org/chatdurum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="depkart">
      <soap:operation soapAction="http://tempuri.org/depkart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onofdurum_yon">
      <soap:operation soapAction="http://tempuri.org/onofdurum_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ayrildi">
      <soap12:operation soapAction="http://tempuri.org/ayrildi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onlinedurum">
      <soap12:operation soapAction="http://tempuri.org/onlinedurum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesaj_yaz">
      <soap12:operation soapAction="http://tempuri.org/mesaj_yaz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="count_al">
      <soap12:operation soapAction="http://tempuri.org/count_al" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesajekle">
      <soap12:operation soapAction="http://tempuri.org/mesajekle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="okunduyap">
      <soap12:operation soapAction="http://tempuri.org/okunduyap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chatdurum">
      <soap12:operation soapAction="http://tempuri.org/chatdurum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="depkart">
      <soap12:operation soapAction="http://tempuri.org/depkart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onofdurum_yon">
      <soap12:operation soapAction="http://tempuri.org/onofdurum_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:50121/M%C3%BC%C5%9Fteri%20Giri%C5%9F%20B%C3%B6l%C3%BCm%C3%BC%20(Web)/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:50121/M%C3%BC%C5%9Fteri%20Giri%C5%9F%20B%C3%B6l%C3%BCm%C3%BC%20(Web)/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>