Yönetici Giriş Bölümü (Web)/App_WebReferences/localhost/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="count_al_yon">
        <s:complexType />
      </s:element>
      <s:element name="count_al_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="count_al_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mesaj_yaz_yon">
        <s:complexType />
      </s:element>
      <s:element name="mesaj_yaz_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mesaj_yaz_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mesaj_okundu_yon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MESAJID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mesaj_okundu_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mesaj_okundu_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mesajekle_yon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mesaj" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="kimegidecek" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mesajekle_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mesajekle_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="kisilistesi_yon">
        <s:complexType />
      </s:element>
      <s:element name="kisilistesi_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kisilistesi_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sanaldivolustur_yon">
        <s:complexType />
      </s:element>
      <s:element name="sanaldivolustur_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sanaldivolustur_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="onlinekontrol_yon">
        <s:complexType />
      </s:element>
      <s:element name="onlinekontrol_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="onlinekontrol_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konusmalistesi_yon">
        <s:complexType />
      </s:element>
      <s:element name="konusmalistesi_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="konusmalistesi_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konusmayaz_yon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="musID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konusmayaz_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="konusmayaz_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konusmacount_yon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="musID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="opID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konusmacount_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="konusmacount_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="onof_yon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="onofdeger" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="onof_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="onof_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="gecmiskayitlar_yon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="musID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="gecmiskayitlar_yonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gecmiskayitlar_yonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="count_al_yonSoapIn">
    <wsdl:part name="parameters" element="tns:count_al_yon" />
  </wsdl:message>
  <wsdl:message name="count_al_yonSoapOut">
    <wsdl:part name="parameters" element="tns:count_al_yonResponse" />
  </wsdl:message>
  <wsdl:message name="mesaj_yaz_yonSoapIn">
    <wsdl:part name="parameters" element="tns:mesaj_yaz_yon" />
  </wsdl:message>
  <wsdl:message name="mesaj_yaz_yonSoapOut">
    <wsdl:part name="parameters" element="tns:mesaj_yaz_yonResponse" />
  </wsdl:message>
  <wsdl:message name="mesaj_okundu_yonSoapIn">
    <wsdl:part name="parameters" element="tns:mesaj_okundu_yon" />
  </wsdl:message>
  <wsdl:message name="mesaj_okundu_yonSoapOut">
    <wsdl:part name="parameters" element="tns:mesaj_okundu_yonResponse" />
  </wsdl:message>
  <wsdl:message name="mesajekle_yonSoapIn">
    <wsdl:part name="parameters" element="tns:mesajekle_yon" />
  </wsdl:message>
  <wsdl:message name="mesajekle_yonSoapOut">
    <wsdl:part name="parameters" element="tns:mesajekle_yonResponse" />
  </wsdl:message>
  <wsdl:message name="kisilistesi_yonSoapIn">
    <wsdl:part name="parameters" element="tns:kisilistesi_yon" />
  </wsdl:message>
  <wsdl:message name="kisilistesi_yonSoapOut">
    <wsdl:part name="parameters" element="tns:kisilistesi_yonResponse" />
  </wsdl:message>
  <wsdl:message name="sanaldivolustur_yonSoapIn">
    <wsdl:part name="parameters" element="tns:sanaldivolustur_yon" />
  </wsdl:message>
  <wsdl:message name="sanaldivolustur_yonSoapOut">
    <wsdl:part name="parameters" element="tns:sanaldivolustur_yonResponse" />
  </wsdl:message>
  <wsdl:message name="onlinekontrol_yonSoapIn">
    <wsdl:part name="parameters" element="tns:onlinekontrol_yon" />
  </wsdl:message>
  <wsdl:message name="onlinekontrol_yonSoapOut">
    <wsdl:part name="parameters" element="tns:onlinekontrol_yonResponse" />
  </wsdl:message>
  <wsdl:message name="konusmalistesi_yonSoapIn">
    <wsdl:part name="parameters" element="tns:konusmalistesi_yon" />
  </wsdl:message>
  <wsdl:message name="konusmalistesi_yonSoapOut">
    <wsdl:part name="parameters" element="tns:konusmalistesi_yonResponse" />
  </wsdl:message>
  <wsdl:message name="konusmayaz_yonSoapIn">
    <wsdl:part name="parameters" element="tns:konusmayaz_yon" />
  </wsdl:message>
  <wsdl:message name="konusmayaz_yonSoapOut">
    <wsdl:part name="parameters" element="tns:konusmayaz_yonResponse" />
  </wsdl:message>
  <wsdl:message name="konusmacount_yonSoapIn">
    <wsdl:part name="parameters" element="tns:konusmacount_yon" />
  </wsdl:message>
  <wsdl:message name="konusmacount_yonSoapOut">
    <wsdl:part name="parameters" element="tns:konusmacount_yonResponse" />
  </wsdl:message>
  <wsdl:message name="onof_yonSoapIn">
    <wsdl:part name="parameters" element="tns:onof_yon" />
  </wsdl:message>
  <wsdl:message name="onof_yonSoapOut">
    <wsdl:part name="parameters" element="tns:onof_yonResponse" />
  </wsdl:message>
  <wsdl:message name="gecmiskayitlar_yonSoapIn">
    <wsdl:part name="parameters" element="tns:gecmiskayitlar_yon" />
  </wsdl:message>
  <wsdl:message name="gecmiskayitlar_yonSoapOut">
    <wsdl:part name="parameters" element="tns:gecmiskayitlar_yonResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="count_al_yon">
      <wsdl:input message="tns:count_al_yonSoapIn" />
      <wsdl:output message="tns:count_al_yonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mesaj_yaz_yon">
      <wsdl:input message="tns:mesaj_yaz_yonSoapIn" />
      <wsdl:output message="tns:mesaj_yaz_yonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mesaj_okundu_yon">
      <wsdl:input message="tns:mesaj_okundu_yonSoapIn" />
      <wsdl:output message="tns:mesaj_okundu_yonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mesajekle_yon">
      <wsdl:input message="tns:mesajekle_yonSoapIn" />
      <wsdl:output message="tns:mesajekle_yonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="kisilistesi_yon">
      <wsdl:input message="tns:kisilistesi_yonSoapIn" />
      <wsdl:output message="tns:kisilistesi_yonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sanaldivolustur_yon">
      <wsdl:input message="tns:sanaldivolustur_yonSoapIn" />
      <wsdl:output message="tns:sanaldivolustur_yonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="onlinekontrol_yon">
      <wsdl:input message="tns:onlinekontrol_yonSoapIn" />
      <wsdl:output message="tns:onlinekontrol_yonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="konusmalistesi_yon">
      <wsdl:input message="tns:konusmalistesi_yonSoapIn" />
      <wsdl:output message="tns:konusmalistesi_yonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="konusmayaz_yon">
      <wsdl:input message="tns:konusmayaz_yonSoapIn" />
      <wsdl:output message="tns:konusmayaz_yonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="konusmacount_yon">
      <wsdl:input message="tns:konusmacount_yonSoapIn" />
      <wsdl:output message="tns:konusmacount_yonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="onof_yon">
      <wsdl:input message="tns:onof_yonSoapIn" />
      <wsdl:output message="tns:onof_yonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="gecmiskayitlar_yon">
      <wsdl:input message="tns:gecmiskayitlar_yonSoapIn" />
      <wsdl:output message="tns:gecmiskayitlar_yonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="count_al_yon">
      <soap:operation soapAction="http://tempuri.org/count_al_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesaj_yaz_yon">
      <soap:operation soapAction="http://tempuri.org/mesaj_yaz_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesaj_okundu_yon">
      <soap:operation soapAction="http://tempuri.org/mesaj_okundu_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesajekle_yon">
      <soap:operation soapAction="http://tempuri.org/mesajekle_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kisilistesi_yon">
      <soap:operation soapAction="http://tempuri.org/kisilistesi_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sanaldivolustur_yon">
      <soap:operation soapAction="http://tempuri.org/sanaldivolustur_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onlinekontrol_yon">
      <soap:operation soapAction="http://tempuri.org/onlinekontrol_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konusmalistesi_yon">
      <soap:operation soapAction="http://tempuri.org/konusmalistesi_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konusmayaz_yon">
      <soap:operation soapAction="http://tempuri.org/konusmayaz_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konusmacount_yon">
      <soap:operation soapAction="http://tempuri.org/konusmacount_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onof_yon">
      <soap:operation soapAction="http://tempuri.org/onof_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gecmiskayitlar_yon">
      <soap:operation soapAction="http://tempuri.org/gecmiskayitlar_yon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="count_al_yon">
      <soap12:operation soapAction="http://tempuri.org/count_al_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesaj_yaz_yon">
      <soap12:operation soapAction="http://tempuri.org/mesaj_yaz_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesaj_okundu_yon">
      <soap12:operation soapAction="http://tempuri.org/mesaj_okundu_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mesajekle_yon">
      <soap12:operation soapAction="http://tempuri.org/mesajekle_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kisilistesi_yon">
      <soap12:operation soapAction="http://tempuri.org/kisilistesi_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sanaldivolustur_yon">
      <soap12:operation soapAction="http://tempuri.org/sanaldivolustur_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onlinekontrol_yon">
      <soap12:operation soapAction="http://tempuri.org/onlinekontrol_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konusmalistesi_yon">
      <soap12:operation soapAction="http://tempuri.org/konusmalistesi_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konusmayaz_yon">
      <soap12:operation soapAction="http://tempuri.org/konusmayaz_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konusmacount_yon">
      <soap12:operation soapAction="http://tempuri.org/konusmacount_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onof_yon">
      <soap12:operation soapAction="http://tempuri.org/onof_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gecmiskayitlar_yon">
      <soap12:operation soapAction="http://tempuri.org/gecmiskayitlar_yon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:56447/liveAdmin2/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:56447/liveAdmin2/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>